<div class="hero-unit">
  <h1>Lavish, Bootstrap like a King</h1>
  <p>Generate your own Bootstrap color scheme from an image and customize to your taste</p>
  <div style="text-align:center;"><a href='https://github.com/mquan/lavish' class='btn btn-large'>View project on Github</a></div>
</div>
<div class="row">
	<div class="span12"><h2>Step1: Provide an image</h2></div>
	<div class="span12">
	<%= form_tag('/', :class => 'form-search', :method => 'get') do %>
		<%= text_field_tag :image_url, @url, :class => 'image-url' %>
		<%= submit_tag "Go Lavish", :class => 'btn btn-large btn-primary' %>
	<% end %>
	</div>
	<div class="span12">
		<div class='lavish-image'><%= image_tag(@url, {:class => 'lavish-image' }) %></div>
		<div class="palette">
			<% last_color = @colors[@colors.length-1] %>
			<% @colors.each_with_index do |c, i| %>
				<div class='color' style="background-color:<%= c%>;border-top:1px solid <%= last_color%>;border-bottom:1px solid <%= last_color%>;<%= %{border-left:1px solid #{last_color};} if i == 0 %>"><%= c %></div>
			<% end %>
		</div>
	</div>
</div>
<div class="row" style="margin-top:20px;">
	<div class="span12"><h2>Step 2: Customize everything</h2></div>
	<div class="span12 lavish-picture">
		<%= form_tag customize_path, :remote => true, :id => 'customize-form' do %>
			<table class='table table-bordered'>
				<% @colors.each_with_index do |color, index| %>
					<tr>
						<td><%= Lavish::Application::ELEMENTS[index]%></td>
						<td style="text-align:center;"><%= render :partial => 'dropdown', :locals => { :colors => @colors, :index => index } %></td>
						<td style="text-align:center;"><%= text_field_tag "colors[]", color, {:class => 'color-input', :style => 'width:88px;', 'data-index' => index } %></td>
					</tr>
				<% end %>
			</table>
			<%= submit_tag "Customize", :class => 'btn btn-large btn-primary' %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="span12"><h2>Step 3: Get the code</h2></div>
	<div class="span6">
		<h3>CSS</h3>
		<%=raw text_area_tag :css, '', :rows => 15, :id => 'css-code', :class => 'code-textarea' %>
	</div>
	<div class="span6">
		<h3>LESS</h3>
		<%=raw text_area_tag :less, @less, :rows => 15, :id => 'less-code', :class => 'code-textarea' %>
	</div>
</div>

<script type="text/javascript">
	lavish_parse('<%=raw j @less%>');
</script>