<!DOCTYPE html>
<html>
<head>
  <title>Lavish - Generate your own Bootstrap color scheme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <style id='lavish-style' type="text/css"></style>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Lavish</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= navbar_active?('new')%>"><a href="/">Home</a></li>
          <li class="<%= navbar_active?('preview')%>"><a href="/preview">Preview</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>

    <div class="spinner-container">
      <div class="shade"></div>
      <div class="main">
        <div id="spinner"></div>
        <div class="caption">Mixing colors...</div>
      </div>
    </div>

    <hr>
    <footer>
      <p>;-) A side project by <a href="https://github.com/mquan">Quan</a></p>
    </footer>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12037604-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
